<div class="row">
	<div class="col-lg-3 col-lg-offset-4">
		<div class="panel panel-default">
			<div class="panel-heading">List of People</div>
			<ul class="list-group">
			  <li class="list-group-item" *ng-for="#person of people">
			  	<div class="row">
				  <div class="col-xs-12">
				  	{{person.name}}
				  </div>
				 </div>
			  </li>
			</ul>
			<button id="todo-remove" (click)="performRequest()" type="button" class="btn btn-primary btn-block">Fire HTTP Request!</button>
		</div>
	</div>
</div>